$primary-color: rgb(39, 39, 39);
$secondary-color: #168eac;
$hover-color: rgb(242, 255, 121);
$show-home-image: true;
$home-image: url("../image/b3.jpg");
$background-opacity: 0.85;

// set text color function
@function set-text-color($color) {
    @if(lightness($color) > 40) {
        @return black;
    }
    @return white;
}

// set active color 
@function set-nav-active-color($color) {
    @if (lightness($color) > 40) {
        @return rgb(35, 245, 192);
    }
    @return rgb(230, 52, 52);
}

@mixin background {
    @if $show-home-image {
        &#bg-img {
            background: $home-image;
            background-attachment: fixed;
            background-size: cover;

            &:after {
                content: ' ';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $background-opacity);
            }
        }

    }
}

@mixin easeOut {
    transition: all 0.5s ease-in-out;
}

// media query mixins
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769px) AND (max-width: 1170px) {
        @content;
    }
}

@mixin mediaXLg {
    @media screen and (min-width: 1171px) {
        @content;
    }
}