@import 'config';
@import 'menu';

@import 'index';

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        'bioimage bio bio'
        'job1 job1 job1'
        'job2 job2 job2'
        'job3 job3 job3';
    grid-template-columns: repeat(3, 1fr);
}

.bio-image {
    grid-area: bioimage;
    margin: auto;
    height: 250px;
    border-radius: 50%;
    border: $secondary-color 5px solid;
}

.bio {
    grid-area: bio;
    font-size: 1.2rem;
}

.job-1 {
    grid-area: job1;
}

.job-2 {
    grid-area: job2;
}

.job-3 {
    grid-area: job3;
}

.job {
    background: lighten($primary-color, $amount: 5);
    padding: 1rem;
    border-bottom: $secondary-color 5px solid;

    h2 {
        text-align: center;
        color: set-text-color($primary-color);
    }
}

.skill {
    width: 100%;
    /* Full width */
    background-color: rgb(211, 46, 46);
    /* Grey background */
    color: white;
    text-align: right; /* Right-align text */

    
    .java{
        width: 90%;
        padding-right: .5rem;
        background-color: green;
    }
}

@import 'mobile';