@import 'config';
@import 'menu';

@import 'index';

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);
}

.bio-image {
    grid-area: bioimage;
    margin: auto;
    height: 250px;
    border-radius: 50%;
    border: $secondary-color 5px solid;
}

.bio {
    grid-area: bio;
    font-size: 1.2rem;
}

.job-1 {
    grid-area: job1;
}
.job-2 {
    grid-area: job2;
}
.job-3 {
    grid-area: job3;
}

.job {
    background: lighten($primary-color, $amount: 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
}

h3, h5, h6 {
    text-align: center;
}


@import 'mobile';